@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --font-bold: 40px;
    --font-regular: 25px;
    --color-grey: #292c35;
    --color-zbs: #162142;
    --color-boron: #111827;
    --color-white: #fff;
    --color-black: #000;
    --color-violet: #bd1abd;
    --color-hover: #ee82ee;
    --color-grey2:#26272c;
    --color-grey3:#1a1b20;
    --color-white2: #d6d6d9;
    --color-black: hsl(225, 25%, 10%);
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
  }
  html {
    scroll-behavior: smooth; 
  }
  body {
    font-family: 'Oswald', sans-serif;
    background-color: var(--color-grey3);
    transition: .5s;
    padding-top: 5rem;
    background: var(--color-black) url(./assets/img/bg.jpg) no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    /* filter: blur(2px) brightness(150%); */
    min-height: 100vh;
    min-width: 280px; 
    /* display: flex;
    flex-direction: column;
    align-items: center;  */
  }

  .header {
    top: 0;
    left: calc(100vh - 11%);
    position: fixed;
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    background-color:var(--color-grey);
    background-size:cover;
    border-radius: 10px;
    z-index: 10;
    width: 25rem;
  }

  .header-search {
    background-color: var(--color-boron);
    border: 2px solid var(--color-boron);
    padding: 0.5rem 1rem ;
    border-radius: 30px;
    font-size: 1.3rem;
    color: cadetblue;
    font-family: inherit;
  }

  .header-search:focus {
    outline: 0;
    background-color: var(--color-zbs);
  }

  .header-search::placeholder {
    color:cadetblue;
    padding: 0 0 0 9px;
  }

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 70rem;
  margin:  auto;
}

  .movie-wrapper {
    position: relative;
    overflow: hidden;
    max-width: 350px;
    margin: 2rem;
    border-radius: 5px;
    box-shadow:2px 5px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--color-grey2);
  }

  .movie-poster {
    width: 100%;
    border-radius: 5px;
    max-height: 450px;
  }

  .movie-info {
    display: flex;
    color:var(--color-white2);
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 2rem 0 2rem;
    letter-spacing: 2px;
    font-size: 1.5rem
  }

  .movie-info>span {
    background-color: #000;
    width: 53px;
    padding: 0.2rem;
    border-radius: 6px;
    font-weight: 700;
  }
  .movie-info span.green {
    color: #00b300;
  } 
  .movie-info span.orange {
    color: orange;
  } 
  .movie-info span.red {
    color: red;
  } 

  .movie-descr {
    color: var(--color-white2);
    padding: 2rem;
    /* letter-spacing: 0.5px; */
  }


  .footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 90px;
    border-radius: 5px;
    background-color: var(--color-grey);
  }
  
  .footer-items {
    display: flex;
    font-family: "Exo 2";
    font-size: var(--font-regular);
    align-items: center;
    justify-content: space-evenly;
    color: var(--color-white2);
    text-decoration: none;
    gap: 25px;
  }
  .copyright:hover {
    color:cadetblue;
    transition: .5s;
  }
  .year:hover {
    color: cadetblue;
    transition: .5s;
  }
  .github-src {
    color: var(--color-white2);
  }
  .github-src:hover {
    color: cadetblue;
    transition: .5s;
  }
  
  .footer-item__rsschool {
    width: 135px;
    height: 50px;
    background: url(./assets/svg/logo-rsschool.svg) no-repeat;
    background-size: contain;
    background-color: var(--color-white2);
    transition: .5s;
  }
  .footer-item__rsschool:hover {
    
  }
  
  .rsschool-logo {
    fill: var(--color-white2);
    cursor: pointer;
    width: 135px;
    height: 50px;
  }
  .rsschool-logo:hover {
    fill: #5f9ea0;
    cursor: pointer;
    transition: .4s;
  }
  
  .rsschool-link {
    position: relative;
    transition: .4s;
  }